body{
    color: rgb(10, 65, 14);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    } 

h1{
    color: rgb(60, 39, 180);
    text-align: center;
    
    }
h2{
    background-color: rgba(97, 89, 89, 0.432);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}