article h2 {
    text-align: center;
    text-transform: uppercase;
}

article h3 {
    text-align: center;
    text-transform: uppercase;
}

article img {
    width: 78%;
    max-width: 550px; 
    max-height: 350px; 
    object-fit: cover;
    margin-top: 100px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto; 
    display: block; 
    border-radius: 10px; 
    transform: scale(1.2);
    height: auto;
}

figcaption {
    text-align: center; 
    font-style: italic; 
    margin-top: 5px; 
}

body {
    box-sizing: border-box;
    margin: auto;
}

main {
    display: block;
    border-left: 2px solid white;  
    border-right: 2px solid white; 
    border-top: none;              
    border-bottom: none;           
    margin: 1% 15%;
    padding: 15px;
    background-color: #0a0a0a;
    box-sizing: border-box;
}