<<<<<<< HEAD
.nova-mono-regular {
    font-family: "Nova Mono", serif;
    font-weight: 400;
    font-style: normal;
  }
.montserrat-uniqui {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.exo-2-uniqui {
  font-family: "Exo 2", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: "Nova Mono", serif; 
    margin: 0;
    padding: 0;
    line-height: 1.5;
    text-align: justify;
    background-color: black; 
    color: #fff; 
}

p {
    text-indent: 50px; 
    margin-bottom: 10px;
}

header {
    background-color: #1a237e; 
    color: #fff;
    text-align: center;
    padding: 1em 0;
    font-family:"Montserrat", serif;
}

header h1 {
    margin: 0;
}

nav {
    background-color: #283593; 
    text-align: center;
    padding: 0.5em 0;
    font-family:"Montserrat", serif;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block; 
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #3f51b5; 
}

footer {
    background-color: #1a237e; 
    color: #fff;
    text-align: center;
    font-family: "Exo 2", serif;
    padding: 1em 0;
    position: relative; 
    bottom: 0; 
    width: 100%; 
}

footer p {
    margin: 0.5em 0;
=======
.nova-mono-regular {
    font-family: "Nova Mono", serif;
    font-weight: 400;
    font-style: normal;
  }
.montserrat-uniqui {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.exo-2-uniqui {
  font-family: "Exo 2", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: "Nova Mono", serif; 
    margin: 0;
    padding: 0;
    line-height: 1.5;
    text-align: justify;
    background-color: black; 
    color: #fff; 
}

p {
    text-indent: 50px; 
    margin-bottom: 10px;
}

header {
    background-color: #1a237e; 
    color: #fff;
    text-align: center;
    padding: 1em 0;
    font-family:"Montserrat", serif;
}

header h1 {
    margin: 0;
}

nav {
    background-color: #283593; 
    text-align: center;
    padding: 0.5em 0;
    font-family:"Montserrat", serif;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block; 
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #3f51b5; 
}

footer {
    background-color: #1a237e; 
    color: #fff;
    text-align: center;
    font-family: "Exo 2", serif;
    padding: 1em 0;
    position: relative; 
    bottom: 0; 
    width: 100%; 
}

footer p {
    margin: 0.5em 0;
>>>>>>> aea9c3fdd7f9ce59985454796bd4f907352d37a1
}